.p-btn {
    background-color: #0d6af4;
    color: white;
    border-radius: 4px;
    margin-right: 5px;
    margin-left: 5px;
}

.p-btn:hover {
    background-color: #0b5ed7;
    color: white;
}

.create-btn {
    background-color: orange;
    justify-self: flex-end;
    border: 0;
    border-radius: 4px;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.create-btn:hover {
    background-color: #FF8901;
}

.top {
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.top h2 {
    font-size: x-large;
}

.CreatePermission {
    margin: 20px;
}

.back-btn {
    margin-bottom: 20px;
    border: 0;
    background-color: transparent;
    color: black;
}

.back-btn a {
    color: black;
    text-decoration: none;
}

.del {
    background-color: whitesmoke;
    border: 0.5px solid rgb(138, 138, 138);
    height: 40px;
    border-radius: 4px;
}

.del:hover {
    background-color: #ffbdad;
    color: #de360c;
    border: 0.5px solid #de360c;
}

.create-btn a {
    color: black;
    text-decoration: none;
}

.create-permission-btn {
    margin-bottom: 100px;
}