.pdf-page {
    width: 100%;
    align-items: center;
    text-align: center;
    padding: 25px;
    overflow: hidden;
}

.pdf-btn {
    background-color: orange;
    margin-bottom: 7%;
    margin-top: 3%;
    border: 0;
    width: 50%;
    height: 60px;
    border-radius: 4px;
}

.pdf-btn:hover {
    background-color: rgb(255, 145, 0);
}

.data-table {
    margin-top: 1%;
}