.under-table {
    text-align: center !important;
    margin-left: 14.5% !important;
    margin-right: auto !important;
}

.header-txn-date {
    display: flex;
    align-items: center !important;
    text-align: center !important;
    justify-content: center;
    height: 6px;
}

.header-txn-date button {
    border: 0;
    background-color: transparent;
    margin-bottom: 16px;
    color: black;
}

.input-boxs {
    width: 1px;
}

.header-table {
    user-select: none;
}

.content-tabel {
    font-size: x-small;
}

.input-id {
    width: 10px;
}

.header-content {
    font-size: small;
}

th,
td {
    text-align: center !important;
}

.form-control {
    padding: 5px !important;
}