.navbar-color {
    background-color: #FF8901;
}

.navbar-nav i {
    color: white;
}

.nav-welcome , .nav-log{
    display: block;
    padding: 0.5rem 1rem;
    color: black;
}

.nav-welcome:hover {
    color: black;
}

.nav-log:hover {
    color: rgb(255, 255, 255);
}