.brand-image-xl {
    /* padding: 8px 0px; */
    height: 55px;
    width: 265px;
}

.main-menu {
    width: fit-content;
}

.sidebar-mini::before {
    /* width: 55px */
}

.brand-link {
    background-color: #FF8901;
    position: relative;
}