.brand-image-xl {
    /* padding: 8px 0px; */
    height: 55px;
    width: 265px;
}

.main-menu {
    width: fit-content;
}

.sidebar-mini::before {
    /* width: 55px */
}

.nav-sidebar .nav-item>.nav-link {
    margin-bottom: 0rem;
}

.nav-pills .nav-link {
    border-radius: 0rem;
}