.brand-image-xl {
    /* padding: 8px 0px; */
    height: 55px;
    width: 265px;
}

.main-menu {
    width: fit-content;
}

.sidebar-mini::before {
    /* width: 55px */
}

.nav-sidebar .nav-item>.nav-link {
    margin-bottom: 0rem;
}

.nav-pills .nav-link {
    border-radius: 0rem;
}

.brand-link {
    background-color: #FF8901;
}

.brand-link {
    display: block;
    font-size: 1.25rem;
    line-height: 1.5;
    padding: 12.68px .5rem;
    transition: width .3s ease-in-out;
    white-space: nowrap;
}