/* @media (min-width: 992px) */

.sidebar-mini.sidebar-collapse .main-sidebar,
.sidebar-mini.sidebar-collapse .main-sidebar::before {
    width: 65px;
}

.nav-link {
    display: block;
    padding: .5rem .72rem;
}

.sidebar-mini.sidebar-collapse .content-wrapper,
.sidebar-mini.sidebar-collapse .main-footer,
.sidebar-mini.sidebar-collapse .main-header {
    margin-left: 4rem !important;
}

.brand-link {
    transition: width 2s ease-in-out;
    white-space: nowrap;
}