/* @media (min-width: 992px) */

.sidebar-mini.sidebar-collapse .main-sidebar,
.sidebar-mini.sidebar-collapse .main-sidebar::before {
    width: 60px;
}

.nav-link {
    display: block;
    padding: 10px 13px;
}

.sidebar-mini.sidebar-collapse .content-wrapper,
.sidebar-mini.sidebar-collapse .main-footer,
.sidebar-mini.sidebar-collapse .main-header {
    margin-left: 3.7rem !important;
}

/* .brand-link {
    transition: width 2s ease-in-out;
    white-space: nowrap;
} */

@media (max-width:992px) {
    .sidebar-mini.sidebar-collapse .content-wrapper,
    .sidebar-mini.sidebar-collapse .main-footer,
    .sidebar-mini.sidebar-collapse .main-header {
        margin-left: 0rem !important;
    }
}

[class*=sidebar-dark-] .nav-sidebar>.nav-item.menu-open>.nav-link,
[class*=sidebar-dark-] .nav-sidebar>.nav-item:hover>.nav-link,
[class*=sidebar-dark-] .nav-sidebar>.nav-item>.nav-link:focus {
    background-color: rgba(255, 255, 255, .1);
    color: #fff;
    border-left: 3px solid rgb(255, 136, 0);
    width: 100%;
}